@model WebWallet.Models.WalletModel

@{
    ViewData["Title"] = "Create";
}

<h2>Fill in the information to create your wallet</h2>
<hr />
<div class="mb-3">
    <div class="mb-3">
        <form asp-action="CreateW" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="UserFName" class="control-label">First name</label>
                <input asp-for="UserFName" class="form-control" />
                <span asp-validation-for="UserFName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserLName" class="control-label"> Last name</label>
                <input asp-for="UserLName" class="form-control" />
                <span asp-validation-for="UserLName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="WalletName" class="control-label">Wallet name</label>
                <input asp-for="WalletName" class="form-control" />
                <span asp-validation-for="WalletName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PassPhrase" class="control-label">Add something that only you know it, but be careful if you forget it,you will lose your wallet</label>
                <input asp-for="PassPhrase" class="form-control" />
                <span asp-validation-for="PassPhrase" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create your wallet" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
