@model WebWallet.Models.WalletModel
@{

    List<WalletModel> wallets = TempData["wallets"] as List<WalletModel>;
}


<div class="container">
    
@if (wallets != null && wallets.Count >= 1)
{
    <div class="d-grid gap-2 col-6 mx-auto">
        @foreach (var wallet in wallets)
        {

            <h1 class="text-center">@wallet.WalletName</h1>
            <hr />
            <h3 class="text-center">Balance</h3>
            <h6 class="text-center">100.00</h6>

        }
            <br/> 
            <br/>
            
        <button type="button" class="btn btn-success">Send</button>
        <button type="button" class="btn btn-success">Receive</button>
 
 
 </div>

        

       
 }
</div>
 

