@model WebWallet.Models.WalletModel
@{

    var walletName = TempData["wallet"];
    var balance = TempData["Balance"];
    var key = TempData["key"];
    var name = TempData["Name"];
    var date = TempData["Date"];
    TempData.Keep("sender");
    TempData.Keep("key"); 
    TempData.Keep("Balance");
    TempData.Keep("Name");
    TempData.Keep("Date");
}


<div class="container">
    

    <div class="d-grid gap-2 col-6 mx-auto">
       

            <h1 class="text-center">@walletName</h1>
            <hr />
            <h3 class="text-center">Balance</h3>
            <h6 class="text-center">@balance</h6>

        
            <br/> 
            <br/>
            
        @using (Html.BeginForm("Import")){
        <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" formaction="Send" type="submit">Send</button>
        <button class="btn btn-success" formaction="Receive" type="submit">Receive</button>
        <button class="btn btn-success" formaction="GetTransaction" type="submit">Get Transaction History</button>    
    </div>
        }
 
 
 </div>

        

       
 
</div>
 

