@model WebWallet.Models.WalletModel
@{

    List<WalletModel> wallets = TempData["wallets"] as List<WalletModel>;
}


@if (wallets != null && wallets.Count>=1){
<table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Wallet</th>
    </tr>
  </thead>
  <tbody>
@foreach(var wallet in wallets)
{
    <tr>
      <td>@wallet.UserFName</td>
      <td>@wallet.UserLName</td>
      <td>@wallet.WalletName</td>
    </tr>
  
}
  </tbody>
</table>
}
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

