@model WebWallet.Models.ImportWalletModel
@{
    ViewData["Title"] = "Import";
}

<h1>Import Your Wallet</h1>

<hr />
<div class="mb-3">
    <div class="mb-3">
        <form asp-action="ImportW" method="post">
 
            <div class="mb-3">
                <label asp-for="PassWallet" class="control-label">Please Enter Your Pass To Import Your Wallet</label>
                <input asp-for="PassWallet" class="form-control" />
                <span asp-validation-for="PassWallet" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Import" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>

