@model WebWallet.Models.TransactionModel;



@using WebWallet.Controllers
@using WebWallet.Models
@{

     var key = TempData["key"];
}



<div class="container">
    
        <div class="d-grid gap-2 col-6 mx-auto">
            <form asp-action="Generate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
                <h1 class="text-center">Wallet Transaction </h1>
                <hr />
            <label class="control-label">Sender Public Key</label>
            <input asp-for="senderPublicKey" value=@key class="form-control" />
            <span asp-validation-for="senderPublicKey" class="text-danger"></span>

             <label class="control-label">Reciever Public Key</label>
            <input asp-for="recieverPublicKey" class="form-control" />
            <span asp-validation-for="recieverPublicKey" class="text-danger"></span>
           
           
            <label class="control-label">Amount</label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>

            <label class="control-label">Date</label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>

            <br />
            <br />
            @using (Html.BeginForm("Import/CreateTransaction"))
            {
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-success" formaction="CreateTransaction" type="submit">Send</button>
                </div>
            }

        </form>
        </div>
        
        </div>
    

 




 


