@{
   Layout = "_Layout";
}

 <div class="mb-3 ">

 <form action="home/click" method= "post">
  
  <img src="/css/logo.png" class="d-grid mx-auto"> 
   
 
 <div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-success" value="Wallet" formaction="Wallet/Create" type="submit">Create Wallet<i class="bi bi-wallet"></i> </button>
  <button class="btn btn-success" value= "importWallet" formaction="Import/Import" type="submit">Import Existing Wallet</button>
</div>
</form>

</div>